.login-btn {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-items-searchbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .menu-items {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      cursor: pointer;
      padding: 0 15px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1500px;
  width: calc(100% - 40px);
  .serch-box {
    margin: 20px 0;
    position: relative;
    .search-icon {
      position: absolute;
      top: 50%;
      right: 3%;
      transform: translateY(-50%);
    }
    .input-box {
      width: 200px;
      padding: 0 10px;
      border-radius: 10px;
    }
  }
}

.card {
  cursor: pointer;
  img {
    &:hover {
      transform: scale(1.1, 1.1);
      transition: transform 0.4s;
    }
  }
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
